<% if signed_in? %>

    <table class="front" summary="For signed-in users">
      <tr>
        <td class="main">
          <h1 class="micropost">What's up?</h1>
          <%= render 'shared/micropost_form' %>
          <%= render 'shared/feed' %>
        </td>
        <td class="sidebar round">
          <%= render 'shared/user_info' %>
          <%= render 'shared/stats' %>
        </td>
      </tr>
    </table>

<% else %>

    <h1>Cloudify :: CloudFoundry APP</h1>

    <p>
      This application helps demonstrate how to provision and scale service instances across CloudFoundry pools.

    <dl class="info">
      <dd>
        <span>Hostname:</span>
        <span><%= hostname %></span>
      </dd>

      <dd>
        <span>IP:</span>
        <span><%= ip_addy %></span>
      </dd>
      <dd>
        <span>Space:</span>
        <span><%= space %></span>
      </dd>
    </dl>

    </p>

<% end %>
